Luureasutuse töötaja Feliks on oma allikalt nimega Dmitri juba aastaid head infot saanud. Viimasel kohtumisel lubas Dmitri anda Feliksile ühe teise potentsiaalse allika  kontaktid, kelle valduses olev info aitaks tagada riigi julgeolekut. Dmitri andis Feliksile üle ajalehe ja ütles: „Kui tahad pärale jõuda, on elementaarne, et valid Nissani.“ 

Feliks leidis ainsa viite Nissanile ajalehe kuulutuste rubriigist.

Aita Feliksil aru saada, millises riigis asub Dmitri vahendatud allikas ning milliselt
telefoninumbrilt saab temaga ühendust!
Kui soovid osaleda auhinnaloosis, saada küsitud riik ja telefoninumber vastusena
aadressil lahendus@valisluureamet.ee hiljemalt 15. märtsiks.